.quizContainer {
    max-width: 800px;
    margin: 0 auto;
}

.categoryImage {
    max-width: 24%;
    border-radius: 20%;
    height: auto;
    position: absolute;
    top: 107px;
    left: 5%;
    animation: fadeIn 1s ease-in-out;
}

.questionContainer {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: questionAnimation 1s linear infinite;
}

.questionText {
    font-size: 20px;
    margin-bottom: 10px;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.nextButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nextButton:hover {
    background-color: #2E8B57;
}

.hintButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    right: 5%;
    bottom: 156px;
}

.hintButton:hover {
    background-color: #c62828;
}

.hintText {
    font-style: italic;
    overflow: hidden;
    width: 60%;
    text-align: center;
    padding: 10px;
    bottom: 157px;
    background-color: rgba(83, 80, 80, 0.5);
    border-start-start-radius: 20%;
    border-end-end-radius: 30%;
    position: absolute;
}

@media (min-width: 768px) {
    .categoryImage {
        left: 10%;
    }

    .hintButton {
        right: 10%;
    }
}

@media (min-width: 992px) {
    .categoryImage {
        left: 15%;
    }

    .hintButton {
        right: 15%;
    }
}

@media (min-width: 1200px) {
    .categoryImage {
        left: 20%;
    }

    .hintButton {
        right: 20%;
    }
}

.hintText:hover {
    display: block;
}

.scoreModal {
    background-color: #f7f7f7;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
}

.scoreText {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.playAgainButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.playAgainButton:hover {
    background-color: #2E8B57;
}

.backButtonLink {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.backButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

.backButton:hover {
    background-color: #c62828;
}

.timeUpModal {
    background-color: #f7f7f7;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    animation: _modal-appear_1v5pd_1 0.3s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .scoreModal {
        margin-left: 20%;
        width: 60%;
    }

    .backButton {
        position: relative;
        left: auto;
        bottom: auto;
    }

    .timeUpModal {
        margin-left: 40%;
        width: 32%;
        margin-top: -96px;
    }
}

@media (min-width: 1200px) {
    .scoreModal {
        margin-left: 25%;
        width: 50%;
    }

    .timeUpModal {
        margin-left: 35%;
        width: 30%;
    }
}


/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .cardWrap {
        left: 0;
        max-width: 100%;
        width: 100%;
    }

    .button_hint_Wrap {
        display: none;
    }
}

/* Modal Animation */
@keyframes modal-appear {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Timer Animation */
@keyframes timerAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Styles */
.timeUpText {
    font-size: 20px;
    margin-bottom: 10px;
}

.timerText {
    font-size: 20px;
    text-align: center;
    animation: timerAnimation 1s linear infinite;
    width: 106px;
    background-color: #000000;
    opacity: 0.7;
    color: #FFFFFF;
    border-radius: 6%;
    z-index: 100;
    overflow: hidden;
    position: absolute;
    top: -235px;
    right: 0;
}

.cardWrap {
    position: relative;
    max-width: 702px;
    width: 506px;
    margin: 0 auto;
}

.optionItem {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hintButton:hover+.hintText {
    display: block;
}

.hintText {
    display: none;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}